.card {
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
}

.linkButton {
  transition: color 0.2s ease;
  color: var(--color-primary-100);
  font-weight: 600;

  &:hover {
    color: var(--color-primary-200);
  }
}

.createButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.75rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.actions {
  display: flex;
  gap: 8px;

  button {
    padding: 6px;
    border-radius: 6px;
    transition: all 0.2s ease;
  }

  .edit {
    color: #6b7280;

    &:hover {
      color: #2563eb;
      background: #eff6ff;
    }
  }

  .delete {
    color: #6b7280;

    &:hover {
      color: #dc2626;
      background: #fef2f2;
    }
  }
}