.page {
  min-height: 100vh;
}

.form {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;

  @media (max-width: 640px) {
    padding: 20px;
  }

  h1 {
    font-weight: 600;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
}

.stroke {
  height: 0;
  flex: 1;
  border-bottom: 1px solid #e9f3ff;
}
