input {
  all: unset;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px lightgray;
  box-sizing: border-box;
  transition: box-shadow 200ms ease;
  width: 100%;
  min-width: 0;

  &:focus {
    box-shadow: 0 0 0 3px var(--color-primary);
  }
}

.iconInput input {
  padding-left: 40px;
}

.endIcon input {
  padding-right: 40px;
}

.invalid {
  input {
    box-shadow: 0 0 0 1px red;
    caret-color: red;

    &:focus {
      box-shadow: 0 0 0 3px red;
    }
  }
}

.icon i,
.icon svg,
.iconEnd i,
.iconEnd svg {
  color: dimgray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon svg,
.icon i {
  left: 15px;
  user-select: none;
}

.iconEnd svg,
.iconEnd i {
  right: 15px;
}

.toggle {
  &:focus-visible {
    i {
      outline: 2px solid black;
    }
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
  }
}
