button {
  cursor: pointer;
}

.btn-regular,
.btn-stroked,
.btn {
  border-radius: 10px;
  font-family: Inter, sans-serif;
}

.btn {
  background-color: white;
  color: var(--color-primary);
  transition: background-color 200ms ease-in;
  padding: 10px 20px;

  &:hover {
    background-color: #dfd9d9;
  }
}

.btn-regular {
  color: white;
  background-color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  transition: background-color 200ms ease-in;
  padding: 10px 20px;

  &:hover {
    background-color: oklch(35.836% 0.1609 264.69);
  }

  &:active {
    background-color: oklch(31.762% 0.13846 265.009);
  }
}

.btn-stroked {
  color: black;
  background-color: transparent;
  border: 2px solid grey;
  transition:
    background-color 200ms ease-in,
    color 200ms ease-in,
    border-color 200ms ease-in;
  padding: 10px 20px;

  &:hover {
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;
  }

  &:active {
    background-color: oklch(35.836% 0.1609 264.69);
    border-color: oklch(35.836% 0.1609 264.69);
  }
}

.btn-flat {
  @extend .btn-stroked;
  color: unset;
  border: none;
}

.dropdown-icon {
  margin-left: 0.625rem;
  transition: transform 150ms ease-in;

  &.open {
    transform: rotate(180deg);
  }
}
