:root {
  --color-primary: royalblue;
  --color-primary-dark: #0c51b5;
  --color-title: black;
  --color-text: #333333;        
  --color-meta: #555555;           
  --color-background: #ffffff; 
  --color-light-gray: #c3c1c1; 
  --foreground-color: oklch(0.145 0 0);
  --color-primary: oklch(48.8% 0.243 264.376);
  --color-secondary: #155dfc;
  --color-tertiary: oklch(70.7% 0.165 254.624);
}
