:root {
  --color-primary: royalblue;
  --color-primary-dark: #0c51b5;
  --color-title: black;
  --color-text: #333333;        
  --color-meta: #555555;           
  --color-background: #ffffff; 
  --color-light-gray: #c3c1c1; 
}
