.header {
  height: 110px;
  color: white;
  background-color: var(--color-secondary);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: dimgray;
  font-weight: 500;
  transition: color 200ms ease;
  user-select: none;

  &:hover,
  &.active {
    color: var(--color-secondary);
  }
}
