.header {
  min-height: 110px;
  color: white;
  background-color: var(--color-secondary);
}

.link {
  color: dimgray;
  font-weight: 500;
  transition: color 200ms ease;
  user-select: none;

  &:hover,
  &.active {
    color: var(--color-secondary);
  }
}
